allow bluetooth_loader efs_file:dir search;
allow bluetooth_loader bluetooth_efs_file:dir search;
allow bluetooth_loader bluetooth_efs_file:file r_file_perms;
