allow shell blkid_exec:file { getattr };
allow shell bootanim_exec:file { getattr };
allow shell btsnoop_exec:file { getattr };
allow shell clatd_exec:file { getattr };
allow shell debuggerd_exec:file { getattr };
allow shell dhcp_exec:file { getattr };
allow shell perfprofd_exec:file { getattr };
allow shell vold_exec:file { getattr };
allow shell vdc_exec:file { getattr };

# sdcardfs madness
allow shell media_rw_data_file:dir { read create open search write add_name remove_name rmdir rename };
allow shell media_rw_data_file:file { create open write unlink rename append };
allow shell vfat:dir { write add_name create remove_name rename rmdir };
allow shell vfat:file { create unlink rename };
allow shell sdcard_posix:dir { write add_name create remove_name rename rmdir };
allow shell sdcard_posix:file { create unlink rename };
