allow vold efs_file:dir { getattr read open ioctl };
allow vold persist_file:dir { getattr read open ioctl };
allow vold mkfs_exec:file { execute read open execute_no_trans };
